.slider {
  overflow: hidden;
  background-color: #1F1140;
  max-width: 100%;
}

.slider-cards {
  display: flex;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  margin: 0;
  padding: 10px;
  width: 100%;
  gap: 10px;
  scroll-behavior: smooth;
}

.slider-card {
  flex: 0 0 calc(100% - 20px);
  background-color: grey;
  border-radius: 12px;
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  text-align: center;
  scroll-snap-align: start;
}

.slider-card img {
  width: 100%;
}

.slider-info {
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
}

.slider-info h1 {
  font-family: Arial Black, Gadget, sans-serif;
  font-size: 18px;
  line-height: 20px;
  margin: 10px 0;
}

.slider-info p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 10px 0;
}

.slider-button {
  width: 100%;
  height: 40px;
  border: none;
  color: white;
  background-color: #E71284;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
